In [2]:
import pandas as pd

In [3]:
electors=pd.read_csv('LS2014Electors (1).csv',sep=",")

In [4]:
electors

,STATE CODE,STATE,PC NO,PARLIAMENTARY CONSTITUENCY,Total voters,Total_Electors,POLL PERCENTAGE
0,S01,Andhra Pradesh,1,Adilabad,1055593,1386282,76.15
1,S01,Andhra Pradesh,2,Peddapalle,1025194,1425355,71.93
2,S01,Andhra Pradesh,3,Karimnagar,1127225,1550810,72.69
3,S01,Andhra Pradesh,4,Nizamabad,1034032,1496193,69.11
4,S01,Andhra Pradesh,5,Zahirabad,1099784,1445354,76.09
5,S01,Andhra Pradesh,6,Medak,1193548,1536166,77.70
6,S01,Andhra Pradesh,7,Malkajgiri,1624859,3183083,51.05
7,S01,Andhra Pradesh,8,Secundrabad,1004763,1893741,53.06
8,S01,Andhra Pradesh,9,Hyderabad,971770,1823217,53.30
9,S01,Andhra Pradesh,10,CHELVELLA,1322312,2185164,60.51
10,S01,Andhra Pradesh,11,Mahbubnagar,1015520,1418668,71.58
11,S01,Andhra Pradesh,12,Nagarkurnool,1116159,1477305,75.55
12,S01,Andhra Pradesh,13,Nalgonda,1191667,1494343,79.75
13,S01,Andhra Pradesh,14,Bhongir,1212738,1492240,81.27
14,S01,Andhra Pradesh,15,Warangal,1176653,1537778,76.52
15,S01,Andhra Pradesh,16,Mahabubabad,1126618,1387288,81.21
16,S01,Andhra Pradesh,17,Khammam,1188875,1440267,82.55
17,S01,Andhra Pradesh,18,Aruku,913838,1272340,71.82
18,S01,Andhra Pradesh,19,Srikakulam,1054640,1413726,74.60
19,S01,Andhra Pradesh,20,Vizianagaram,1125615,1403736,80.19
20,S01,Andhra Pradesh,21,Visakhapatnam,1163582,1723011,67.53
21,S01,Andhra Pradesh,22,Anakapalli,1149326,1401474,82.01
22,S01,Andhra Pradesh,23,Kakinada,1101730,1418290,77.68
23,S01,Andhra Pradesh,24,Amalapuram,1121986,1357865,82.63
24,S01,Andhra Pradesh,25,Rajahmundry,1156626,1421276,81.38
25,S01,Andhra Pradesh,26,Narsapuram,1089102,1325028,82.19
26,S01,Andhra Pradesh,27,Eluru,1203236,1427764,84.27
27,S01,Andhra Pradesh,28,Machilipatnam,1143048,1369311,83.48
28,S01,Andhra Pradesh,29,Vijayawada,1198985,1564513,76.64
29,S01,Andhra Pradesh,30,Guntur,1246775,1572017,79.31
...,...,...,...,...,...,...,...
513,S27,Jharkhand,3,Godda,1049642,1590772,65.98
514,S27,Jharkhand,4,Chatra,712980,1312562,54.32
515,S27,Jharkhand,5,Kodarma,1024939,1639645,62.51
516,S27,Jharkhand,6,Giridih,971242,1511644,64.25
517,S27,Jharkhand,7,Dhanbad,1143945,1890021,60.53
518,S27,Jharkhand,8,Ranchi,1049787,1648459,63.68
519,S27,Jharkhand,9,Jamshedpur,1049164,1581665,66.33
520,S27,Jharkhand,10,Singhbhum,795352,1152632,69.00
521,S27,Jharkhand,11,Khunti,737611,1111856,66.34
522,S27,Jharkhand,12,Lohardaga,651639,1119144,58.23
523,S27,Jharkhand,13,Palamau,978159,1645957,59.43
524,S27,Jharkhand,14,Hazaribagh,967348,1518923,63.69
525,S28,Uttarakhand,1,Tehri Garhwal,776945,1352614,57.44
526,S28,Uttarakhand,2,Garhwal,684014,1267218,53.98
527,S28,Uttarakhand,3,Almora,656934,1253541,52.41
528,S28,Uttarakhand,4,Nainital-udhamsingh Nagar,1101934,1610811,68.41
529,S28,Uttarakhand,5,Hardwar,1175734,1642873,71.57
530,U01,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,190346,269360,70.67
531,U02,Chandigarh,1,CHANDIGARH,453462,615214,73.71
532,U03,Dadra & Nagar Haveli,1,Dadar & Nagar Haveli,165324,196597,84.09
533,U04,Daman & Diu,1,Daman & diu,87233,111827,78.01
534,U05,NCT OF Delhi,1,CHANDNI CHOWK,982275,1447230,67.87
535,U05,NCT OF Delhi,2,NORTH EAST DELHI,1317974,1957708,67.32
536,U05,NCT OF Delhi,3,EAST DELHI,1196731,1829578,65.41
537,U05,NCT OF Delhi,4,NEW DELHI,970169,1490147,65.11
538,U05,NCT OF Delhi,5,NORTH WEST DELHI,1356404,2194343,61.81
539,U05,NCT OF Delhi,6,WEST DELHI,1348744,2039410,66.13
540,U05,NCT OF Delhi,7,SOUTH DELHI,1102849,1752748,62.92
541,U06,Lakshadweep,1,Lakshadweep,43242,49922,86.62
542,U07,Puducherry,1,Puducherry,740053,901357,82.10

In [6]:
electors['STATE'].describe()### apply describe to individual columns

count               543
unique               35
top       Uttar Pradesh
freq                 80
Name: STATE, dtype: object

#### describe function to each column

In [8]:
electors['STATE CODE'].describe()

count     543
unique     35
top       S24
freq       80
Name: STATE CODE, dtype: object

In [9]:
electors['PC NO'].describe()

count    543.000000
mean      18.968692
std       16.560438
min        1.000000
25%        6.000000
50%       15.000000
75%       27.000000
max       80.000000
Name: PC NO, dtype: float64

In [10]:
electors['PARLIAMENTARY CONSTITUENCY'].describe()

count            543
unique           540
top       Aurangabad
freq               2
Name: PARLIAMENTARY CONSTITUENCY, dtype: object

In [11]:
electors['Total voters'].describe()

count    5.430000e+02
mean     1.020581e+06
std      1.929034e+05
min      4.324200e+04
25%      9.405790e+05
50%      1.034032e+06
75%      1.130322e+06
max      1.624859e+06
Name: Total voters, dtype: float64

In [12]:
electors['Total_Electors'].describe()

count    5.430000e+02
mean     1.536064e+06
std      2.881144e+05
min      4.992200e+04
25%      1.425049e+06
50%      1.555781e+06
75%      1.694062e+06
max      3.183083e+06
Name: Total_Electors, dtype: float64

In [13]:
electors['POLL PERCENTAGE'].describe()

count    543.000000
mean      67.319816
std       10.316871
min       25.860000
25%       59.285000
50%       66.750000
75%       75.825000
max       88.360000
Name: POLL PERCENTAGE, dtype: float64

In [18]:
electors['STATE CODE'].value_counts()   ### value counts for each column

S24    80
S13    48
S25    42
S01    42
S04    40
S22    39
S12    29
S10    28
S06    26
S20    25
S18    21
S11    20
S03    14
S27    14
S19    13
S26    11
S07    10
U05     7
S09     6
S28     5
S08     4
S02     2
S23     2
S05     2
S14     2
S15     2
S16     1
U04     1
U03     1
U06     1
U02     1
S21     1
U01     1
U07     1
S17     1
Name: STATE CODE, dtype: int64

In [19]:
electors['STATE'].value_counts()

Uttar Pradesh                80
Maharashtra                  48
West Bengal                  42
Andhra Pradesh               42
Bihar                        40
Tamil Nadu                   39
Madhya Pradesh               29
Karnataka                    28
Gujarat                      26
Rajasthan                    25
Odisha                       21
Kerala                       20
Jharkhand                    14
Assam                        14
Punjab                       13
Chhattisgarh                 11
Haryana                      10
NCT OF Delhi                  7
Jammu & Kashmir               6
Uttarakhand                   5
Himachal Pradesh              4
Arunachal Pradesh             2
Tripura                       2
Meghalaya                     2
Goa                           2
Manipur                       2
Nagaland                      1
Daman & Diu                   1
Mizoram                       1
Dadra & Nagar Haveli          1
Chandigarh                    1
Andaman & Nicobar Islands     1
Puducherry                    1
Lakshadweep                   1
Sikkim                        1
Name: STATE, dtype: int64

In [20]:
electors['PC NO'].value_counts()

1     35
2     26
3     21
4     21
5     20
6     19
7     18
9     17
10    17
8     17
11    16
12    15
13    15
14    14
17    12
20    12
18    12
19    12
16    12
15    12
21    11
22    10
23    10
24    10
25    10
26     9
27     8
28     8
29     7
39     6
      ..
66     1
67     1
68     1
69     1
70     1
75     1
72     1
73     1
74     1
64     1
76     1
77     1
78     1
65     1
60     1
63     1
62     1
61     1
59     1
58     1
57     1
56     1
55     1
54     1
53     1
52     1
51     1
50     1
49     1
80     1
Name: PC NO, Length: 80, dtype: int64

In [21]:
electors['PARLIAMENTARY CONSTITUENCY'].value_counts()

Aurangabad              2
Hamirpur                2
Maharajganj             2
Jagatsinghpur           1
Daman & diu             1
Ladakh                  1
Cuddalore               1
Dibrugarh               1
Sikkim                  1
Darjeeling              1
Banswara                1
Virudhunagar            1
Dum dum                 1
Hyderabad               1
Ghaziabad               1
Mathura                 1
MANDSOUR                1
Kaliabor                1
SAGAR                   1
Saran                   1
Rajahmundry             1
Murshidabad             1
Ongole                  1
Keonjhar                1
Nagina                  1
Nandurbar               1
Beed                    1
Baramati                1
Puri                    1
Jalna                   1
                       ..
Shahjahanpur            1
Kollam                  1
Tiruppur                1
Dhule                   1
Nagpur                  1
Bargarh                 1
Bishnupur               1
Solapur                 1
Jalpaiguri              1
Sambhal                 1
Khadoor Sahib           1
Gurgaon                 1
Gurdaspur               1
Mumbai South central    1
Kannur                  1
Shrawasti               1
Baharampur              1
Sabarkantha             1
Aligarh                 1
Bhiwandi                1
Navsari                 1
Alwar                   1
Diamond harbour         1
TIKAMGARH               1
Bikaner                 1
KARAULI-DHOLPUR         1
Chikkodi                1
Amravati                1
Nagaland                1
Puducherry              1
Name: PARLIAMENTARY CONSTITUENCY, Length: 540, dtype: int64

In [22]:
electors['Total voters'].value_counts()

1116159    1
1197398    1
1042748    1
1163582    1
1250872    1
889152     1
1212738    1
1132868    1
947525     1
1322312    1
1088842    1
737611     1
884044     1
943437     1
1209680    1
1193041    1
969047     1
800058     1
1088045    1
975195     1
948572     1
310095     1
975203     1
942568     1
1187174    1
1125728    1
863592     1
974187     1
1028462    1
854281     1
          ..
1369722    1
879228     1
1027473    1
918144     1
1007235    1
1236613    1
1179270    1
1117831    1
988808     1
1128076    1
1147534    1
809615     1
1320867    1
1194649    1
1196731    1
1030812    1
1049164    1
1230495    1
1116658    1
1152674    1
993966     1
1107631    1
1154702    1
967348     1
1016230    1
1007286    1
971448     1
773817     1
891635     1
809985     1
Name: Total voters, Length: 543, dtype: int64

In [23]:
electors['Total_Electors'].value_counts()

1702833    2
1499673    2
1561201    1
1668441    1
1752748    1
1530208    1
1661277    1
1498459    1
1664081    1
1720661    1
1512792    1
1733972    1
1153363    1
1501521    1
1060175    1
1523022    1
1595746    1
1375589    1
1417548    1
515441     1
1957241    1
1473912    1
1700307    1
1538421    1
1903988    1
1711967    1
1736048    1
1424743    1
1819506    1
1893741    1
          ..
2115303    1
1512061    1
1891969    1
1401474    1
1723011    1
1387140    1
1721990    1
1946249    1
1760090    1
1792652    1
1660557    1
1477262    1
1755292    1
1469072    1
1516177    1
1340050    1
1630042    1
1562081    1
1301143    1
1441434    1
1744539    1
1420435    1
1824112    1
1600137    1
2073251    1
1247908    1
1640671    1
1661606    1
1577457    1
1787476    1
Name: Total_Electors, Length: 541, dtype: int64

In [24]:
electors['POLL PERCENTAGE'].value_counts()

70.94    3
81.21    2
69.50    2
85.16    2
81.38    2
56.53    2
54.14    2
67.74    2
60.11    2
67.53    2
70.95    2
78.41    2
69.97    2
63.12    2
58.83    2
50.01    2
71.58    2
82.23    2
73.81    2
60.22    2
57.12    2
64.47    2
63.62    2
62.92    2
57.00    2
53.06    2
74.60    1
62.51    1
70.67    1
63.43    1
        ..
52.18    1
68.05    1
74.31    1
39.14    1
59.62    1
77.86    1
82.63    1
68.32    1
81.06    1
58.74    1
66.29    1
74.02    1
83.36    1
61.62    1
64.31    1
62.06    1
61.81    1
64.01    1
63.07    1
54.32    1
75.55    1
77.70    1
71.72    1
78.05    1
71.21    1
78.98    1
78.55    1
84.92    1
66.45    1
79.75    1
Name: POLL PERCENTAGE, Length: 516, dtype: int64

In [25]:
electors.head()

,STATE CODE,STATE,PC NO,PARLIAMENTARY CONSTITUENCY,Total voters,Total_Electors,POLL PERCENTAGE
0,S01,Andhra Pradesh,1,Adilabad,1055593,1386282,76.15
1,S01,Andhra Pradesh,2,Peddapalle,1025194,1425355,71.93
2,S01,Andhra Pradesh,3,Karimnagar,1127225,1550810,72.69
3,S01,Andhra Pradesh,4,Nizamabad,1034032,1496193,69.11
4,S01,Andhra Pradesh,5,Zahirabad,1099784,1445354,76.09

In [26]:
electors.tail()

,STATE CODE,STATE,PC NO,PARLIAMENTARY CONSTITUENCY,Total voters,Total_Electors,POLL PERCENTAGE
538,U05,NCT OF Delhi,5,NORTH WEST DELHI,1356404,2194343,61.81
539,U05,NCT OF Delhi,6,WEST DELHI,1348744,2039410,66.13
540,U05,NCT OF Delhi,7,SOUTH DELHI,1102849,1752748,62.92
541,U06,Lakshadweep,1,Lakshadweep,43242,49922,86.62
542,U07,Puducherry,1,Puducherry,740053,901357,82.10

In [28]:
electors.shape

(543, 7)

In [29]:
electors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 543 entries, 0 to 542
Data columns (total 7 columns):
STATE CODE                    543 non-null object
STATE                         543 non-null object
PC NO                         543 non-null int64
PARLIAMENTARY CONSTITUENCY    543 non-null object
Total voters                  543 non-null int64
Total_Electors                543 non-null int64
POLL PERCENTAGE               543 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 29.8+ KB

In [33]:
electors.index

RangeIndex(start=0, stop=543, step=1)

In [34]:
electors['POLL PERCENTAGE'].sum()

36554.66

In [38]:
electors.agg(['min','max','mean'])

,STATE CODE,STATE,PC NO,PARLIAMENTARY CONSTITUENCY,Total voters,Total_Electors,POLL PERCENTAGE
min,S01,Andaman & Nicobar Islands,1.000000,ARUNACHAL EAST,4.324200e+04,4.992200e+04,25.860000
max,U07,West Bengal,80.000000,Zahirabad,1.624859e+06,3.183083e+06,88.360000
mean,NaN,NaN,18.968692,NaN,1.020581e+06,1.536064e+06,67.319816

In [45]:
electors.groupby(['STATE'])['POLL PERCENTAGE'].agg(['min','max','mean'])

                             min    max       mean
STATE
Andaman & Nicobar Islands  70.67  70.67  70.670000
Andhra Pradesh             51.05  85.16  75.816190
Arunachal Pradesh          75.60  84.16  79.880000
Assam                      75.46  88.36  79.801429
Bihar                      45.36  67.60  56.487500
Chandigarh                 73.71  73.71  73.710000
Chhattisgarh               59.32  77.96  69.520909
Dadra & Nagar Haveli       84.09  84.09  84.090000
Daman & Diu                78.01  78.01  78.010000
Goa                        75.27  78.95  77.110000
Gujarat                    52.62  74.94  63.668846
Haryana                    64.98  77.04  71.490000
Himachal Pradesh           63.15  66.98  64.420000
Jammu & Kashmir            25.86  71.40  50.696667
Jharkhand                  54.32  70.94  63.967857
Karnataka                  55.64  77.15  67.753214
Kerala                     65.81  81.21  74.015500
Lakshadweep                86.62  86.62  86.620000
Madhya Pradesh             45.58  79.00  61.721034
Maharashtra                42.94  73.00  60.513542
Manipur                    74.98  84.20  79.590000
Meghalaya                  63.22  78.13  70.675000
Mizoram                    61.95  61.95  61.950000
NCT OF Delhi               61.81  67.87  65.224286
Nagaland                   87.91  87.91  87.910000
Odisha                     58.38  80.54  73.891905
Puducherry                 82.10  82.10  82.100000
Punjab                     64.74  77.21  70.681538
Rajasthan                  54.62  73.17  63.072800
Sikkim                     83.64  83.64  83.640000
Tamil Nadu                 60.44  81.18  74.031795
Tripura                    83.56  86.17  84.865000
Uttar Pradesh              49.88  74.26  58.599875
Uttarakhand                52.41  71.57  60.762000
West Bengal                66.68  87.63  82.221667

In [52]:
electors.std()

PC NO                  16.560438
Total voters       192903.356889
Total_Electors     288114.433624
POLL PERCENTAGE        10.316871
dtype: float64